<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Nobel Prizes in something</title>
  <!-- you can use this  stylesheet if you want <link rel="stylesheet" href="prizes.css"> -->
  <!-- Student edition, for homework purposes -->
</head>

<body>
  <main>
    <h1>Nobel Prizes in </h1>
      <h2>From when to when </h2>
      <nav>
          <p> Other categories: 
<!-- Links to other pages. Generate these from data passed in -->
          </p>
      </nav>
<table>
    <thead><tr>
        <th>Year</th> 
        <th>Name</th> 
        <th>Accomplishment</th>
        </tr></thead>
    <tbody>
<!-- Generate the table here. -->
    </tbody>
      </table>
  </main>
</body>

</html>
